/* 电脑端css样式 */
/* 去除浏览器自带的边距 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* 设置页面字体大小以及类型 */
body{
    font: normal 100% Helvetica,Arial,sans-serif;
}
html{
    font-size: 16px;
}
/* 头部 */
.header{
    width: 100%;
    height: 72px;
    margin: 0 auto;
}
/* 导航栏 */
.header-container{
    width: 1200px;
    height: 100%;
    margin:0 auto;
}
/*  */
.header-container-item1{
    float: left;
    width: 50%;
    height: 100%;
}
.header-container-item2{
    float: right;
    width: 50%;
    height: 100%;
}
/* 头部左边 */
.header-left{
    width: 100%;
    height: 72px;
}
.header-left>li{
    float: left;
    width: auto;
    height: 100%;
    padding:0 20px;
    line-height: 72px;
    font-size: 18px;
}
.header-left>li:first-child{
    margin-right: 20px;
    padding: 0 40px;
    font-size: 20px;
}
.header-left>li:first-child:hover{
    background-color: #F3F5F6;
}
/* 头部右边 */
.header-right{
    width: 100%;
    height: 72px;
}
.header-right>li{
    float: right;
}
.header-right>li:first-child{
    width: 50px;
    height: 50px;
    margin:11px auto;
    position: relative;
}
.header-right>li:last-child{
    width: 300px;
    height: 50px;
    position: relative;
    margin-right: 20px;
    margin-top: 11px;
    padding-top: 8px;
}
/* 头像 */
.head-portrait{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* 搜索按钮 */
.search-button{
    width: 40px;
    height: 24px;
    text-align: center;
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 13px;
    padding: 0 8px;
    border-radius: 18px;
    line-height: 24px;
    color: #757a7e; 
}
/* 已登录后的显示框 */
.login-in{
    position: absolute;
    right: -208px;
    top: 60px;
    transform: translateX(-50%);
    width: 220px;
    min-height: 260px;
    border: 1px #ccc solid;
    box-shadow: 1px 1px 5px 0 #ccc;
    background-color: #ffffff;
    padding: 25px 25px 15px 25px;
    z-index: 20;
    box-sizing: unset;
    display: none;
}
/* 三角符号 */
.login-in:after, .login-in:before {
    display: inline-block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 80px;
    top: -16px;
    border: 8px #ccc solid;
    border-color: transparent transparent #ccc;
    transform: translateX(-50%);
}
/* 已登录后显示框内容 */
/* 头像和网名 */
.login-in-item1{
    width: 220px;
    height: 50px;
}
.login-in-item1>div{
    float: left;
    height: 50px;
}
.login-in-item1-img{
    width: 50px;
    height: 50px;
}
.login-in-item1-info{
    width: 170px;
    height: 50px;
    padding-left: 10px;
}
.login-in-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.item1-info-title{
    width: 160px;
    height: 25px;
    line-height: 25px;
    font-size: 16px;
}
.item1-info-experience{
    width: 160px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #cacace;
}
.fa-address-book,.fa-bars,.fa-cog,.fa-user{
    margin-right: 5px;
    line-height: 25px;
}
/*用户个人中心center  */
.login-in-item2{
    width: 220px;
    height: auto;
    margin-top: 20px;
    overflow: hidden;
}
.login-in-item2-center>li{
    float: left;
    width: 108px;
    height: 36px;
    background-color: #F8FAFC;
    margin-right: 2px;
    margin-bottom: 2px;
    line-height: 36px;
    text-align: center;
}
.login-in-item2-center>li>:link,
.login-in-item2-center>li>a:visited{
    text-decoration: none;
    color:#1c1f21;
}
.login-in-item2-center>li:hover{
    background-color: #D9DDE1;
}
/* 上次观看记录 */
.login-in-item3{
    width: 220px;
    height: auto;
    margin-top: 20px;
    padding-bottom: 10px;
    overflow: hidden;
    border-bottom: 1px solid lightgrey;
}
.login-in-item3-title{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
}
.login-in-item3-section{
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.item3-section-float-left{
    float: left;
    padding-left: 28px;
}
.item3-section-float-right{
    float: right;
}
.item3-section-float-right>a:link,
.item3-section-float-right>a:visited{
    color: #00b43c;
    text-decoration: none;
}
.fa-history{
    margin-right: 10px;
}
/* 安全退出 */
.login-in-item4{
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.login-in-item4>a:link,
.login-in-item4>a:visited{
    color: #93999F;
    text-decoration: none;
}
.login-in-item4>a:hover{
    color: #4d555d;
}
/* 内容 */
.content{
    width: 100%;
    height: auto;
    background-color: #1c1f21;;
    padding: 20px 0;
    overflow: hidden;
}
.content-container{
    width: 1200px;
    height: auto;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
/* 导航栏 */
.content-left{
    width: 60px;
    height: 528px;
    float: left;
    background-color: #1c1f21;
}
/* 视频展示区 */
.content-center{
    width: 840px;
    height: 528px;
    background-color: #F1F1F1;
    float: left;
    border-radius: 10px;
    color: #000000;
    padding: 10px;
    overflow-y: auto;
}
.content-center::-webkit-scrollbar {
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    display: none;
}
.content-center::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
    }
.content-center::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
dt{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
dd a:link,dd a:visited{
    position: relative;
    display: block;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
}
dd a:hover{
    color: #0B4682;
}
dd.study-chapter-active a{
    color: #0B4682;
}
/* 课程简介 */
.content-right{
    width: 300px;
    height: 528px;
    float: left;
    position: relative;
    z-index: 1;
}

.nav-bar{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 120px 0;
}
.nav-bar>li{
    width: 100%;
    height: 72px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.nav-bar>li:hover{
    background-color:rgb(38,41,44);
}
/* 章节栏菜单 */
.chapter-menu{
    width: 200px;
    height: 528px;
    position: absolute;
    background-color: #26292C;
    left: 60px;
    top: 0;
    z-index:9999;
    overflow-y:auto;
    display: none;
    color: #fff;
    padding: 10px;
}
/*滚动条整体样式*/
.chapter-menu::-webkit-scrollbar {
    width: 5px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    display: none;
}
.chapter-menu::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
    }
.chapter-menu::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}
/* 导航栏图标 */
.fa-circle-o{
    float: right;
}
.nav-bar-li-text{
    font-size: 12px;
    color: rgba(255,255,255,.4);
    line-height: 18px;
}
/* 视频播放控制 */
.vedio-play-section{
    width: 800px;
    height: 488px;
    margin: 20px 20px;
}
/* 右边内容区 */
.content-right-container{
    width: 260px;
    height: auto;
    margin:20px auto;
}
/*  */
.content-right-container-item1{
    width: 100%;
    height: 48px;
}
/* 讲师头像 */
.teacher-header-potrait{
    width: 48px;
    height: 48px;
    float: left;
}
.teacher-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* 讲师网名 */
.teacher-header-introduction{
    width: 212px;
    height: 48px;
    float: left;
}
.teacher-header-introduction>ul{
    height: 48px;
    margin-left: 12px;
}
.teacher-header-introduction>ul>li{
    width: auto;
    height: 24px;
}
.introduction-name{
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}
.introduction-title{
    font-size: 12px;
    color: rgba(255,255,255,.8);
    line-height: 18px;
}
.introduction-name a{
    color: #fff; 
    text-decoration: none;
}
.teacherself-introduction{
    margin-top: 20px;
    font-size: 12px;
    color: rgba(255,255,255,.6);
    line-height: 22px;
}
.note-submit-btn{
    color: #fff;
    border-color: #c20a0a;
    background: #c20a0a;
    opacity: 1;
    float: right;
    font-size: 16px;
    padding: 5px 15px;
    border-radius: 20px;
}
/* 底部评论/问答 */
.show{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.show-content-container{
    width: 1200px;
    height: auto;
    margin:0 auto;
    overflow: hidden;
}
/* 评论/问答导航条 */
.show-nav-bar{
    width: 1200px;
    height: 68px;
    box-shadow: 3px 3px 3px #ccc;
    overflow: hidden;
}
.show-nav-bar>ul{
    width: 100%;
    height: auto;
    padding: 12px 16px;
    overflow: hidden;
}
.show-nav-bar>ul>li{
    position: relative;
    float: left;
    margin-right: 96px;
    font-size: 16px;
    color: #545c63;
    line-height: 40px;
    cursor: pointer;
    font-weight: 700;
}
.show-nav-bar>ul>li.current{
    color: red;
}
.show-nav-bar>ul>li:hover{
    color: red;
}
/* 字体下部的颜色框 */
.show-nav-bar>ul>li::before{
    display: none;
    content: " ";
    position: absolute;
    width: 20px;
    height: 3px;
    background: red;
    bottom: 0;
    margin-left: -10px;
    left: 50%;
    border-radius: 2px;
}
.show-nav-bar>ul>li.current::before{
    display: block;
}
/* 评论/问答展示区 */
.show-nav-bar-content{
    width: 1200px;
    height: auto;
}
.show-nav-bar-content>div{
    width: 1200px;
    height: auto;
    background-color: #fff;
    margin: 5px auto;
    display: none;
}
/* 问答 */
.questions-and-answers-top{
    width: 100%;
    height: 50px;
}
.publish{
    float: left;
    height: 36px;
    line-height: 36px;
    color: #545c63;
    background-color: rgba(84,92,99,0.1);
    font-size: 12px;
    width: 90px;
    padding: 0 10px;
    text-align: center;
    margin-top: 7px;
    border-radius: 30px;
}
.publish:hover{
    text-decoration: none;
    background-color: rgba(84,92,99,0.5); 
    color: #545c63;
}
/* 问答内容展示 */
.questions-and-answers-content{
    width: 100%;
    height: auto;
}
.questions-and-answers-content-item{
    width: 100%;
    height: 160px;
    position: relative;
    margin-bottom: 12px;
    padding: 32px;
    background: #fff;
    box-shadow: 4px 4px 8px 0 rgba(7,17,27,.1);
    border-radius: 12px;
    border: 1px solid lightgray;
}
.questions-and-answers-content-item-left{
    float: left;
    width: 40px;
    height: 40px;
}
.questions-and-answers-content-item-right{
    float: left;
    margin-left: 20px;
    width: 1070px;
    max-height: 100px;
}
.questions-and-answers-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-name{
    margin-bottom: 2px;
    font-size: 18px;
}
.user-scrible{
    margin-bottom: 5px;
    max-height: 48px;
    overflow: hidden;
    line-height: 24px;
    color: #303538;
}
.user-date{
    float: right;
}
/* UEditor */
h1.ueditor-title{
    font-size: 16px;
    color: #fff;
    line-height: 20px;
}


/* 底部 */
.footer{
    width: 100%;
    height: auto;
    background-color: #1c1f21;
    border-top: 1px solid lightgrey;
    overflow: hidden;
}
/* 底部内容区容器 */
.footer-container{
    width: 1200px;
    height: auto;
    margin:0 auto;
    overflow: hidden;
    padding: 20px 0;
}
.footer-container>div{
    float: left;
    height: 100px;
}
/* 底部第一块内容区 */
.footer-container-item1{
    width: 70%;
}
/* 底部第一块内容区链接 */
.footer-container-item1-link{
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.footer-link-ul{
    width: 100%;
    height: 30px;
    padding-left: 20px;
}
.footer-link-ul>li{
    float: left;
    width: auto;
    height: 30px;
    margin-right: 30px;
}
/* 地步第一块内容区链接样式 */
.footer-link-ul>li>a:link,
.footer-link-ul>li>a:visited{
    color: #c8cdd2;
    text-decoration: none;
}
.footer-link-ul>li>a:hover{
    color: #ffffff;
}
/* 第一块内容去版权信息 */
.footer-container-item1-copyright{
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    color: #c8cdd2;
}
/* 底部第二块内容区 */
.footer-container-item2{
    width: 30%;
    color: #c8cdd2;
}
/* 底部第二块内容区联系我们 */
.footer-item2-contact-phone{
    width: 100%;
    padding-left: 10px;
    height: 28px;
    font-size: 18px;
    font-weight: 550;
    line-height: 28px;
}
.footer-item2-contact-other{
    width: 100%;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
}
.special{
    display: none;
}